* {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/copy in UIWebView */
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root {
    width: 100%;
    height: 100%;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
